.fileNameLink {
  padding: 1rem 1rem;
  display: flex;
  gap: 0.375rem;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.fileNameLink:hover span {
  text-decoration: underline;
}

.fileNameLink > i.icon {
  font-size: 1.25rem;
}

.nameColumn {
  padding: 0;
  width: 30%;
}

.row:hover {
  background-color: var(--highlight-bg);
}
