.container {
  display: flex;
  gap: 0.5rem;
}

.container a {
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.dropdown span {
  display: flex;
  align-items: center;
}
